/* Styling the pages */
body {
    background-color: #F9F8F8;
}

/* Styling the image placeholders */
.image-placeholder {
    border: 10px solid;
        border-color: #3D3C3A;

    background-color: #A7A39F;
}

.banner-image {
    text-align: center;
    width: 100%;
    height: 200px;
}

#female-etis-anatomical-image, #male-etis-anatomical-image, #intersex-anatomical-image {
    margin: 40px;
    width: 40%;
    height: 560px;
    display: inline-block;
}

/* Styling the buttons */

.tabs-div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tab-circle {
    width: 100px;
    height: 80px;
    padding-top: 50px;;
    margin: 8px;
    display: inline-block;
    background-color: #A7A39F;
    color: black;
    border-radius: 100%;
}

/* Styling the text */
h1 {
    font-size: 50pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 13pt;
}

h2, h3, h4, .subtitle, .tab-circle {
    font-weight: bold;
}

h1, h2, .subtitle, .tab-circle {
    text-align: center;
}

h1, h2, h3, h4, .subtitle, .tab-circle {
    font-family: 'Grandiflora One', cursive;
}

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 11pt;
}

.text-container {
    display: inline-block;
    width: 40%;
}