/* Styling the pages */
body {
    background-color: #F9F8F8;
}

p, li {
    line-height: 1.5;
}

.rows {
    position: static;
}

/* Styling the image placeholders */
.image-placeholder {
    border: 10px solid;
        border-color: #3D3C3A;

    background-color: #A7A39F;
}

.banner-image {
    text-align: center;
    width: 100%;
    height: 300px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

#female-etis-anatomical-image, #male-etis-anatomical-image, #intersex-anatomical-image {
    margin: 10px;
    width: 40%;
    height: 560px;
    display: inline-block;
}

#male-mimic-with-young-image, #tail-positions-image {
    margin-top: 40px;
    margin-bottom: 40px;
}

#etis-life-cycle-image, #etis-habitat-map-image, #male-mimic-with-young-image, #tail-positions-image, #prey-and-bugs-image, #vegetation-image {
    width: 60%;
    height: 500px;
    position: relative;
    left: 20%;
}

/* Styling the buttons */

.tabs-div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tab-circle {
    width: 100px;
    height: 80px;
    padding-top: 50px;;
    margin: 8px;
    display: inline-block;
    background-color: #A7A39F;
    color: black;
    border-radius: 100%;
}

/* Styling the text */
h1 {
    font-size: 50pt;
}

h2 {
    font-size: 20pt;
    margin-top: 40px;
    margin-bottom: 40pt;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 13pt;
    margin-top: 40pt;
}

h2, h3, h4, .subtitle, .tab-circle {
    font-weight: bold;
}

h1, h2, .subtitle, .tab-circle {
    text-align: center;
}

h1, h2, h3, h4, .subtitle, .tab-circle {
    font-family: 'Grandiflora One', cursive;
}

p, li {
    font-family: 'Libre Baskerville', serif;
    font-size: 11pt;
}

.text-container {
    text-align: center;
    display: inline-block;
    width: 40%;
    margin: 40px;
    position: relative;
    top: -150px;
}

.text-container.text-only-on-line-container {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#mates-and-offspring-behaviour-text {
    margin-top: 200px;
}

#life-cycle-text {
    margin-top: 15%;
}

.habitat-text {
    position: relative;
    top: 1px;
}

#fauna-text {
    margin-bottom: 200px;
}

li {
    text-align: left;
    margin-bottom: 20px;
}

ul, ol {
    margin-bottom: 40pt;
    margin-top: 30pt;
}

.footer-div {
    text-align: center;
    background-color: #A7A39F;
    padding: 5%;
    color: white;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

.footer-div a {
    color: #58432E;
}